# Fan control
dtparam=fan_temp0=45000
dtparam=fan_temp0_hyst=500
dtparam=fan_temp0_speed=165
dtparam=fan_temp1=49000
dtparam=fan_temp1_hyst=6000
dtparam=fan_temp1_speed=190
dtparam=fan_temp2=53000
dtparam=fan_temp2_hyst=6000
dtparam=fan_temp2_speed=215
dtparam=fan_temp3=57000
dtparam=fan_temp3_hyst=6000
dtparam=fan_temp3_speed=255
